# Active le moteur de réécriture d'URLs d'Apache
RewriteEngine On

# Condition 1 : l'URL demandée n'est PAS un fichier qui existe réellement
RewriteCond %{REQUEST_FILENAME} !-f

# Condition 2 : l'URL demandée n'est PAS un dossier qui existe réellement
RewriteCond %{REQUEST_FILENAME} !-d

# Redirige tout vers index.php
# Plus besoin de ?url=$1, le router lit directement REQUEST_URI
RewriteRule ^ index.php [L]